<%= render "navbar" %>
<h1 class="text-center">Our Buildings</h1>
<br><br>
<div class="row">
    <% @buildings.each do |building| %>
    <div class="col d-flex justify-content-center">
    <div class="card" style="width: 18rem;">
        <img src="https://www.pinclipart.com/picdir/big/405-4051049_587-office-building-clipart.png" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title"><%=building.name%></h5>
            <p class="card-text"><%="#{building.address}, #{building.country}"%></p>
            <a href="<%=building_path(building)%>" class="btn btn-secondary">See Details</a>
        </div>
        </div>
    </div><br>
    <% end %>
</div>
