<%= render "navbar" %>
<h1 class="text-center">Offices in <%=@building.name%></h1>
    <% @building.offices.each do |office| %>
        <p class="text-center"><%=link_to office.company.name, company_path(office.company) %>
        (Floor <%= office.floor %>)</p>
        <br>
    <% end %>