<%= render "navbar" %>
<h1 class="text-center">Our Companies</h1>
    <% @companies.each do |company| %>
        <p class="text-center"><%=link_to company.name, company_path(company) %></p><br>
    <% end %>